body, pre, table {
    font-family: "SourceCodePro", monospace;
    font-size: small;
    overflow-x: hidden;
}

.main-container {
    /*padding-top: 10px;*/
}

.col, .col-auto {
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    padding: calc(var(--bs-gutter-x) * .25);
    /*padding-bottom: calc(var(--bs-gutter-x) * .5);*/
    /*padding-right: calc(var(--bs-gutter-x) * .5);*/
    /*padding-left: calc(var(--bs-gutter-x) * .5);*/
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}