{{define "weather"}}
<link href="/static/css/weather.css" type="text/css" rel="stylesheet" />

<div class="card weather-card">
    <div class="card-body">
        <div class="card-title">
            <h6>Weather</h6>
            <button type="button" class="btn btn-outline-secondary btn-xs" data-button-name="load-weather" onclick="loadWeather()">Reload</button>
            <small class="text-muted" data-container="weather-interval"></small>
        </div>
        <pre class="card-text weather-report" data-container="weather"></pre>
    </div>
</div>

<script src="/static/js/weather.js"></script>
{{end}}